{% extends "layout.html.twig" %}
{% block title %}{{ "Accueil"|trans }}{% endblock %}

{% block content %}
<header class="header col-md-12">
    <div class="connect-area">
        <span class="white-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <span class="white-text">{{ 'Bonjour ' ~ app.user.username}}</span>
        {% else %}
            <span class="white-text"><a href="#" data-toggle="modal" data-target="#myModal" >{{ 'Se connecter'|trans({}, 'FOSUserBundle') }}</a></span>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Connexion</h4>
                  </div>
                  <div class="modal-body">
                    <div>
                        <ul>
                            <li>role=admin, login=tony, pwd=entrer</li>
                            <li>role=user, login=toto, pwd=entrer</li>
                            <li>role=user, login=tata, pwd=entrer</li>
                        </ul>
                    </div>                    
                    {{ render(controller("FOSUserBundle:Security:login")) }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
    </div>
</header>        
<div class="container">

  <div class="epreuves row"> 
    <h2>Prochaines épreuves</h2>
    {{ render(controller("AppBundle:Epreuve:last3")) }}
  </div>
</div>        
<div class="container-fluid">
  <div class="media row">
    <div class="col-md-offset-1 col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sagg08DrO5U?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-md-4 text-panel">
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>

  </div>        
</div>
{% endblock %}


